<!DOCTYPE html>
<html>
<head>
	<title>Food Classifier</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>

	This is a food classifier

	<form action="" method="POST">
		<input type="file" name="file" id="file" />
		<br>

		<img src="" style="display: none" id="img" width="300" height="400" />

		<input type="submit" value="Predict">
	</form>

	<script>
		
		function showImage(fileInput) {
			
			if(fileInput.files && fileInput.files[0]) {

				$("#img").css('display', 'block');
				var reader = new FileReader();

				reader.onload = (e) => $("#img").attr("src", e.target.result);

				reader.readAsDataURL(fileInput.files[0]);
			}

		}

		$("#file").change(function() {
			showImage(this);
		});

	</script>

</body>
</html>