<!DOCTYPE html>
<html>
<head>
	<title>Food Classifier</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

	This is a food classifier

	<form method="post" id="form" enctype="multipart/form-data">
		<input type="file" name="file" id="file">
		<br>
	</form>
	
	<img src="" style="display: none" id="img" width="300" height="400" />

	<input type="button" value="Predict" id="predict">

	<div id="result">

	</div>

</body>
</html>